USE [Neptuno]
GO
/****** Object:  StoredProcedure [dbo].[usp_BuscarProveedores]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BuscarProveedores]
    @NombreContacto VARCHAR(30),
    @Ciudad VARCHAR(15)
AS
BEGIN
    SELECT * FROM dbo.proveedores
    WHERE nombrecontacto LIKE '%' + @NombreContacto + '%'
      AND ciudad LIKE '%' + @Ciudad + '%';
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATE_CATEGORIA]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CREATE_CATEGORIA]
@idcategoria int,
@nombrecategoria varchar(100),
@descripcion varchar(100)
AS
BEGIN

DECLARE @Cont int =0
DECLARE @Codigo varchar(50)
set @Cont= (select Max(idcategoria)  from categorias)+1
set @Codigo= '2020-'+ CAST( @Cont AS varchar(20))



INSERT INTO [dbo].[categorias]
           ([idcategoria]
           ,[nombrecategoria]
           ,[descripcion]
		   ,CodCategoria
		   ,Activo
		   )
     VALUES
           (@Cont
           ,@nombrecategoria
           ,@descripcion
		   ,@Codigo
		   ,1)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_CREATE_CATEGORIA2]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CREATE_CATEGORIA2]
@idcategoria int,
@nombrecategoria varchar(100),
@descripcion varchar(100),
@codCategoria varchar(100)
AS
BEGIN

INSERT INTO [dbo].[categorias]
           ([idcategoria]
           ,[nombrecategoria]
           ,[descripcion]
		   ,CodCategoria
		   ,Activo
		   )
     VALUES
           (@idcategoria
           ,@nombrecategoria
           ,@descripcion
		   ,@codCategoria
		   ,1)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetCategoria]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetCategoria]  
@idcategoria int=0  
AS  
BEGIN  
SELECT  * FROM categorias WHERE  idcategoria=@idcategoria or @idcategoria=0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_ListarCategorias]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_ListarCategorias]
@NombreCategoria VARCHAR(50)=''
AS
BEGIN
SELECT  * FROM categorias WHERE  nombrecategoria LIKE '%'+@NombreCategoria+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarProductos]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarProductos]
AS
BEGIN
    SELECT * FROM dbo.productos;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarProveedores]    Script Date: 16/04/2026 17:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ListarProveedores]
AS
BEGIN
    SELECT * FROM dbo.proveedores;
END
GO
